# API Gateway Service Environment Variables
JWT_SECRET=ksfjhfsklelkfjseajwlfiohiholdaiholdghjbkvhoawuqpieopwnmcadjaklvbnmbakjelhquiyllidhajkbcjkahgdhauhauiiohlioawhdvfjhkoksfjhfsklelkfjseajwlfiohiholdaiholdghjbkvhoawuqpieopwnmcadjaklvbnmbakjelhquiyllidhajkbcjkahgdhauhauiiohlioawhdvfjhkoksfjhfsklelkfjseajwlfioh
JWT_EXPIRATION=86400000

# Redis Configuration
REDIS_HOST=redis
REDIS_USERNAME=default
REDIS_PASSWORD=redispass
REDIS_PORT=6379

# PostgreSQL Configuration
DB_PASSWORD=postgres

# Service Ports (optional, defaults are set in docker-compose)
SERVER_PORT_GATEWAY=8080
SERVER_PORT_AUTH=8100
SERVER_PORT_DISCOVERY=8761
SERVER_PORT_SERVICE_A=8081
SERVER_PORT_SERVICE_B=8090
